In [1]:
import pandas as pd
import numpy as np
import ast as at

In [2]:
movies_dataset= pd.read_csv('/Users/alejandrobenjaminnunezguzman/Desktop/movies_dataset.csv')

/var/folders/gg/08x9mdfn43q02625840rv79h0000gn/T/ipykernel_16760/652947304.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_dataset= pd.read_csv('/Users/alejandrobenjaminnunezguzman/Desktop/movies_dataset.csv')

In [16]:
movies_dataset.shape

(45466, 24)

In [17]:
movies_dataset.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [18]:
movies_dataset.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

Tratar 'belongs_to_collection':

In [19]:
movies_dataset['belongs_to_collection'][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [20]:
# Función para desanidar la columna 'belongs_to_collection'
def extraer_collection_name(collection):
    if pd.isnull(collection):
        return np.nan
    else:
        try:
            return at.literal_eval(collection)['name']
        except (ValueError, TypeError):
            return np.nan

In [21]:
# Luego aplicamos la funcion a 'belongs_to_collection'
movies_dataset['belongs_to_collection'] = movies_dataset['belongs_to_collection'].apply(extraer_collection_name)

In [22]:
movies_dataset.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

Tratar 'genres':

In [23]:
#Revisamos la estructura de los datos en genres:

movies_dataset['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [24]:
#Convertir elementos de string en esta columna a diccionarios

movies_dataset['genres'] = movies_dataset['genres'].apply(at.literal_eval)

In [25]:
# Función para desanidar la columna 'genres'
def extract_genre_name(genres_list):
    genre_names = [genre['name'] for genre in genres_list]
    return ', '.join(genre_names)

In [26]:
#Aplicamos la función extract_genre_name

movies_dataset['genres']= movies_dataset['genres'].apply(extract_genre_name)

In [27]:
movies_dataset.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"Animation, Comedy, Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [28]:
# Función para limpiar la columna de valores vacios:
def limpiar_columna_valor_vacio(valor):
    if valor == '':
        return np.nan
    else: 
        return valor

In [29]:
movies_dataset['genres']=movies_dataset['genres'].apply(limpiar_columna_valor_vacio)

Tratar 'production_companies':

In [30]:
#Revisamos la estructura de 'production_companies'

movies_dataset['production_companies'][0]

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [31]:
#Convertir elementos de string en esta columna a diccionarios

movies_dataset['production_companies'] = movies_dataset['production_companies'].apply(lambda x: at.literal_eval(x) if pd.notnull(x) else None)

In [32]:
# Función para limpiar la columna y reemplazar valores booleanos y listas vacías por None
def limpiar_columna_valor_nulo(valor):
    if isinstance(valor, bool) or (isinstance(valor, list) and len(valor) == 0):
        return np.nan
    else: 
        return valor

In [33]:
#Aplicamos la función:

movies_dataset['production_companies'] = movies_dataset['production_companies'].apply(limpiar_columna_valor_nulo)

In [34]:
# Función para extraer los nombres de cada diccionario

def extract_name(genres_list):
    if isinstance(genres_list, list):
        genre_names = [genre['name'] for genre in genres_list]
        return ', '.join(genre_names)
    else:
        return genres_list

In [35]:
# Aplicar la función a la columna

movies_dataset['production_companies'] = movies_dataset['production_companies'].apply(extract_name)

In [36]:
movies_dataset['production_companies'][1]

'TriStar Pictures, Teitler Film, Interscope Communications'

Tratar 'production_countries':

In [37]:
movies_dataset['production_countries'][0]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [38]:
movies_dataset['production_countries'] = movies_dataset['production_countries'].apply(lambda x: at.literal_eval(x) if pd.notnull(x) else np.NaN)

In [39]:
movies_dataset['production_countries']=movies_dataset['production_countries'].apply(extract_name)

In [40]:
movies_dataset['production_countries']

0        United States of America
1        United States of America
2        United States of America
3        United States of America
4        United States of America
                   ...
45461                        Iran
45462                 Philippines
45463    United States of America
45464                      Russia
45465              United Kingdom
Name: production_countries, Length: 45466, dtype: object

In [41]:
movies_dataset['production_countries'].isna().sum()

3

Tratar 'production_countries':

In [42]:
movies_dataset['spoken_languages'][0]

"[{'iso_639_1': 'en', 'name': 'English'}]"

In [43]:
movies_dataset['spoken_languages'] = movies_dataset['spoken_languages'].apply(lambda x: at.literal_eval(x) if pd.notnull(x) else np.NaN)

In [44]:
movies_dataset['spoken_languages']=movies_dataset['spoken_languages'].apply(extract_name)

In [45]:
movies_dataset['spoken_languages']=movies_dataset['spoken_languages'].apply(limpiar_columna_valor_vacio)

In [46]:
movies_dataset['spoken_languages'][1]

'English, Français'

In [47]:
movies_dataset.sample(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
10473,False,NaN,0,Documentary,http://www.emmanuelsgift.com/,191599,tt0447016,en,Emmanuel's Gift,"If you are born disabled in Ghana, West Africa...",...,2005-10-21,23578.0,80.0,English,Released,"He's like no one we've ever known, but he's al...",Emmanuel's Gift,False,0.0,0.0
15427,False,NaN,0,"Drama, Romance, Foreign",NaN,51865,tt0335351,en,La petite Lili,"This film, loosely inspired by Anton Chekov's ...",...,2003-08-27,0.0,104.0,Français,Released,NaN,Little Lili,False,5.6,7.0

### Tratando Valores Nulos

#### Rellenar valores nulos  con "0" en las columnas 'revenue' y 'budget'

In [48]:
def remplazar_valores_nulos(df, column_name):
    df[column_name] = df[column_name].replace(np.nan, 0)
    return

In [49]:
remplazar_valores_nulos(movies_dataset,'revenue')

In [50]:
movies_dataset['revenue'].isna().sum()

0

In [51]:
remplazar_valores_nulos(movies_dataset,'budget')

In [52]:
movies_dataset['budget'].isna().sum()

0

#### Eliminar valores nulos del campo 'release date'.

In [53]:
movies_dataset['release_date'].isna().sum()

87

In [54]:
# Eliminar filas con NaN en la columna "release_date"

movies_dataset.dropna(subset=['release_date'], inplace=True)

In [55]:
movies_dataset['release_date'].isna().sum()

0

De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

In [56]:
def data_time(value): 
    try:
        return pd.to_datetime(value, format="%Y-%m-%d") 
    except (ValueError, TypeError):  
        return np.nan

In [57]:
movies_dataset['release_date']=movies_dataset['release_date'].apply(data_time)

In [58]:
movies_dataset['release_date'][10394]

Timestamp('2005-07-14 00:00:00')

In [59]:
movies_dataset['release_date'].isna().sum()

3

In [60]:
#Eliminando otros valores nulos en 'release_date':

movies_dataset.dropna(subset=['release_date'], inplace=True)

In [61]:
# Agregar la columna release_year

movies_dataset['release_year'] = movies_dataset['release_date'].dt.year.astype(int)

Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [62]:
def convertir_valor(value): 
    try:
        return float(value) 
    except (ValueError, TypeError):
        return np.nan

In [63]:
movies_dataset['budget']=movies_dataset['budget'].apply(convertir_valor)

In [64]:
movies_dataset["return"] = np.where(movies_dataset["budget"] != 0, movies_dataset["revenue"] / movies_dataset["budget"], 0)

### Eliminar columnas que no se usan

In [65]:
columnas_descartadas=['video','imdb_id','adult','original_title','poster_path','homepage']

In [66]:
movies_dataset.drop(columns=columnas_descartadas, inplace=True)

In [67]:
movies_dataset.shape

(45376, 20)

In [118]:
movies_dataset.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000.0,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,1995,12.451801
1,NaN,65000000.0,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035

In [119]:
movies_dataset.to_csv("../DatosProcesados//movies.csv", index=False)

# Credits

In [3]:
credits_data =pd.read_csv('/Users/alejandrobenjaminnunezguzman/Desktop/credits.csv')

In [70]:
credits_data.dtypes

cast    object
crew    object
id       int64
dtype: object

In [71]:
credits_data.shape

(45476, 3)

In [72]:
#Revisando duplicados 
credits_data[credits_data['id'].duplicated()].count()

cast    44
crew    44
id      44
dtype: int64

In [73]:
#Borrando duplicados
credits_data.drop_duplicates(subset="id", inplace=True)

## Cast

In [74]:
credits_data['cast'][0][1:195]

"{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}"

Creando la tabla Cast

In [75]:
# Convertir strings a listas de diccionarios: 

credits_data["cast"] = [x if pd.isnull(x) else at.literal_eval(x) for x in credits_data["cast"]]

In [76]:
credits_data['cast'][0][0]

{'cast_id': 14,
 'character': 'Woody (voice)',
 'credit_id': '52fe4284c3a36847f8024f95',
 'gender': 2,
 'id': 31,
 'name': 'Tom Hanks',
 'order': 0,
 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}

In [77]:
pd.DataFrame(credits_data["cast"][0]).assign(id = credits_data["id"][0])

,cast_id,character,credit_id,gender,id,name,order,profile_path
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,862,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,862,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,862,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,862,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,862,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg
5,19,Hamm (voice),52fe4284c3a36847f8024fa9,2,862,John Ratzenberger,5,/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg
6,20,Bo Peep (voice),52fe4284c3a36847f8024fad,1,862,Annie Potts,6,/eryXT84RL41jHSJcMy4kS3u9y6w.jpg
7,26,Andy (voice),52fe4284c3a36847f8024fc1,0,862,John Morris,7,/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg
8,22,Sid (voice),52fe4284c3a36847f8024fb1,2,862,Erik von Detten,8,/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg
9,23,Mrs. Davis (voice),52fe4284c3a36847f8024fb5,1,862,Laurie Metcalf,9,/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg
10,24,Sergeant (voice),52fe4284c3a36847f8024fb9,2,862,R. Lee Ermey,10,/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg
11,25,Hannah (voice),52fe4284c3a36847f8024fbd,1,862,Sarah Freeman,11,None
12,27,TV Announcer (voice),52fe4284c3a36847f8024fc5,2,862,Penn Jillette,12,/zmAaXUdx12NRsssgHbk1T31j2x9.jpg

In [78]:
credits_data = credits_data.reset_index(drop=True)

In [79]:
list_of_df_cast = [] # list for cast column
for i in range(len(credits_data)): # for every row
    dfi = pd.DataFrame(credits_data["cast"][i]).assign(id = credits_data["id"][i]) # create a df
    list_of_df_cast.append(dfi) # and every df will be stored in a list

In [80]:
# ignore_index will ignore the index of original df's, assign new ones and guarantee continuous index

df_cast = pd.concat(list_of_df_cast, ignore_index=True) # union of df's in the list

In [81]:
df_cast.drop(columns=["order", "profile_path", "cast_id", "credit_id"], inplace=True)

In [82]:
df_cast[df_cast.duplicated(keep=False)].sort_values(by="id") # checking for more duplicates

       character  gender      id               name
33820     Farmer     0.0     346      Ippei Kawagoe
33821     Farmer     0.0     346      Ippei Kawagoe
157448    Ebirah     0.0    3115          Yû Sekita
157447    Ebirah     0.0    3115          Yû Sekita
184671               0.0    3549       Meenal Petal
...          ...     ...     ...                ...
527953               0.0  426958  Gábor Jászberényi
527952               0.0  426958  Gábor Jászberényi
527955               0.0  426958  Gábor Jászberényi
537749               0.0  430128       Lucas Olioti
537750               0.0  430128       Lucas Olioti

[183 rows x 4 columns]

In [83]:
df_cast.drop_duplicates(inplace=True)

In [84]:
df_cast.shape

(561942, 4)

In [87]:
df_cast.to_csv("../DatosProcesados/cast.csv",index=False)

## Crew

In [88]:
credits_data["crew"] = [x if pd.isnull(x) else at.literal_eval(x) for x in credits_data["crew"]]

In [94]:
credits_data['crew'][0][0]

{'credit_id': '52fe4284c3a36847f8024f49',
 'department': 'Directing',
 'gender': 2,
 'id': 7879,
 'job': 'Director',
 'name': 'John Lasseter',
 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}

In [108]:
list_of_df_crew = []
for i in range(len(movies_dataset)):
    dfi = pd.DataFrame(credits_data["crew"][i]).assign(id = credits_data["id"][i])
    list_of_df_crew.append(dfi)

In [109]:
df_crew = pd.concat(list_of_df_crew, ignore_index=True)

In [111]:
df_crew.head(3)

,credit_id,department,gender,id,job,name,profile_path
0,52fe4284c3a36847f8024f49,Directing,2.0,862,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1,52fe4284c3a36847f8024f4f,Writing,2.0,862,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
2,52fe4284c3a36847f8024f55,Writing,2.0,862,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg

In [112]:
df_crew.drop(columns=["profile_path", "credit_id"], inplace=True)

In [113]:
df_crew.drop_duplicates(inplace=True)

In [114]:
df_crew.shape

(463436, 5)

In [117]:
df_crew.to_csv("../DatosProcesados/crew.csv", index=False)